*{
    box-sizing: border-box;
    /* background-color: ; */
}

@font-face {
    font-family: Open_Sans;
    src: url("../Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: Roboto_Slab;
    src: url("../Fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

:root{
    /*
        font-family:
    */
    --open-sans-font: Open_Sans;
    --roboto-slab-font: Roboto_Slab; 

    /*
        Text-Color
    */
    --white-color: #fff;
    --black-color: #000;
    --red-danger-color: #900;
    /* --pre-navigation-dark-gray-color: rgb(45, 45, 45):  */
}

