/** 1 - Header-Alert **/
.header-alert{
    background-color: var(--red-danger-color);
}

.header-alert-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8vw;
    padding: 8px 0;
}

.alert-logo{
    width: 1.5em;
    color: var(--white-color);
}

.header-alert-details a{
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: underline;
    color: var(--white-color);
}

.header-alert-details a:hover{
    text-decoration: none;
    color: var(--white-color);
}

/** 2 - Header-pre-Navigation **/
.header-pre-navigation{
    /* background-color: var(--pre-navigation-dark-gray-color); */
    background-color: #2d2d2d;
}

.header-pre-navigation-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-pre-navigation span{
    font-family: var(--open-sans-font);
}

/* Left-side Pre navigation */
.left-side-navigation button{
    margin: 0 0.25rem;
    border: 0px;
    background-color: #2d2d2d;
    border-radius: 0;
}

.left-side-navigation .internation-btn{
    background-color: #535a5f ;
    margin-left: 0px !important;
}

.left-side-navigation button:hover{
    background-color: #535a5f;
}

.dropdown-menu{
    background-color: #2d2d2d;
    border-radius: 0;
    padding: 1.5rem 1rem 2rem 1rem;
    margin: 0;
    border-top: 0.125rem solid transparent;
}

/* Right-side Pre navigation */
.right-side-navigation button.btn-primary{
    background-color: #1c467a;
    border-color: #1c467a;
    border-radius: 0;
}

.right-side-navigation button.btn-primary:hover{
    background-color: #235796;
}

.right-side-navigation button.btn-secondary{
    background-color: var(--black-color);
    border-color: var(--black-color);
    border-radius: 0;
}

.right-side-navigation button.btn-secondary:hover{
    background-color: #535a5f;
}

.right-side-navigation svg{
    width: 15px;
}

/** 3 - Header-main-Navigation **/
.header-main-navigation{
    background-color: var(--black-color);
}

.header-main-navigation-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}

.header-main-navigation-details img{
    width: 220px;
    cursor: pointer;
}


.left-navigation{
    display: flex;
    align-items: center;
}

.left-navigation-menu a{
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--open-sans-font);
}

.left-navigation-menu a:hover{
    text-decoration: underline;
}

/** 4 - Hero Section **/
.header-hero-section{
    background-image: url("../Images/international.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 18%;
}

.header-hero-section-details p{
    font-family: var(--roboto-slab-font);
    text-transform: capitalize;
    font-size: 46px;
    color: var(--white-color);
    font-weight: 500;
    text-shadow: 2px 2px 5px #000!important;
}

.header-hero-section-details{
    padding-bottom: 48px;
}

/** 5 - Header-Post-Navigation **/
.header-post-navigation{
    background-color: #ccc;
}

.header-post-navigation-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:0px
}

.header-post-navigation-details button{
    color: #000;
    background-color: #ccc;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--open-sans-font);
    padding: 10px 15px;
    border-right: 1px solid #efefef;
}

.header-post-navigation-details>button:hover{
    border-right: 1px solid #efefef;
    color: #000 !important;
    background-color: #fff;
}

.header-post-navigation-details .btn-group button:hover{
    border-right: 1px solid #fff;
    color: #000 !important;
    background-color: #fff;
}

#post-navigation-home {
    color: #000;
    background-color: #fff;
}

/* .dropdown-toggle:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 } */
