/** 1 - Header-Alert **/
.header-alert{
    background-color: var(--red-danger-color);
}

.header-alert-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8vw;
    padding: 8px 0;
}

.alert-logo{
    width: 1.5em;
    color: var(--white-color);
}

.header-alert-details a{
    font-size: 1.1em;
    font-weight: 400;
    text-decoration: underline;
    color: var(--white-color);
}

.header-alert-details a:hover{
    text-decoration: none;
    color: var(--white-color);
}

/** 2 - Header-pre-Navigation **/
.header-pre-navigation{
    /* background-color: var(--pre-navigation-dark-gray-color); */
    background-color: #2d2d2d;
}

.header-pre-navigation-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-pre-navigation span{
    font-family: var(--open-sans-font);
}

/* Left-side Pre navigation */
.left-side-navigation button{
    margin: 0 0.25rem;
    border: 0px;
    background-color: #2d2d2d;
    border-radius: 0;
}

.left-side-navigation .internation-btn{
    background-color: #535a5f ;
    margin-left: 0px !important;
}

.left-side-navigation button:hover{
    background-color: #535a5f;
}

.dropdown-menu{
    background-color: #2d2d2d;
    border-radius: 0;
    padding: 1.5rem 1rem 2rem 1rem;
    margin: 0;
    border-top: 0.125rem solid transparent;
}

/* Right-side Pre navigation */
.right-side-navigation button.btn-primary{
    background-color: #1c467a;
    border-color: #1c467a;
    border-radius: 0;
}

.right-side-navigation button.btn-primary:hover{
    background-color: #235796;
}

.right-side-navigation button.btn-secondary{
    background-color: var(--black-color);
    border-color: var(--black-color);
    border-radius: 0;
}

.right-side-navigation button.btn-secondary:hover{
    background-color: #535a5f;
}

.right-side-navigation svg{
    width: 15px;
}

/** 3 - Header-main-Navigation **/
.header-main-navigation{
    background-color: var(--black-color);
}

.header-main-navigation-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}

.header-main-navigation-details img{
    width: 220px;
    cursor: pointer;
}

.header-main-navigation-details .left-navigation{
    display: flex;
    align-items: center;
}

.header-main-navigation-details .left-navigation-menu a{
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--open-sans-font);
}

.header-main-navigation-details .left-navigation-menu a:hover{
    text-decoration: underline;
}

.header-main-navigation-details .left-navigation .header-main-navigation-mobile{
    display: none;
}

/** 4 - Hero Section **/
.header-hero-section{
    background-image: url("../Images/international.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 18%;
}

.header-hero-section-details p{
    font-family: var(--roboto-slab-font);
    text-transform: capitalize;
    font-size: 46px;
    color: var(--white-color);
    font-weight: 500;
    text-shadow: 2px 2px 5px #000!important;
}

.header-post-navigation-mobile{
    display: none;
}

/** 5 - Header-Post-Navigation **/
.header-post-navigation{
    background-color: #ccc;
}

.header-post-navigation-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:0px
}

.header-post-navigation-details button{
    color: #000;
    background-color: #ccc;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--open-sans-font);
    padding: 10px 15px;
    border-right: 1px solid #efefef;
}

.header-post-navigation-details>button:hover{
    border-right: 1px solid #efefef;
    color: #000 !important;
    background-color: #fff;
}

.header-post-navigation-details .btn-group button:hover{
    border-right: 1px solid #fff;
    color: #000 !important;
    background-color: #fff;
}

#post-navigation-home {
    color: #000;
    background-color: #fff;
}

/* .dropdown-toggle:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 } */

 
 /** Media query according to iPhone XR **/
@media only screen 
    and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {

    /** 1 - Header-Alert **/
    .header-alert-details{
        gap: 3vw;
    }

    .alert-logo{
        width: 1.5em;
    }

    .header-alert-details a{
        font-size: 1em;
    }

    /** 2 - Header-pre-Navigation **/
    /* .header-pre-navigation{
        background-color: #2d2d2d;
    } */

    .header-pre-navigation-details{
        display: flex;
        justify-content: flex-end;
    }

    /* Left-side Pre navigation */
    .left-side-navigation{
        display: none;
    }

    /** 3 - Header-main-Navigation **/
    .header-main-navigation-details .left-navigation{
        display: flex;
        flex-direction: row-reverse;
    }

    .header-main-navigation-details .left-navigation-menu{
        display: none;
    }
    
    .header-main-navigation-details .left-navigation-dropdown{
        display: none;
    }

    .header-main-navigation-details .left-navigation .header-main-navigation-mobile{
        display: block;
        fill: #fff;
        text-decoration: none;
        color: #fff;
        padding: 6px 12px;
        border: 1px solid #fff;
    }

    .header-main-navigation-details .left-navigation .header-main-navigation-mobile svg{
        width: 15px;
        height: 15px !important;
    }

    /** 4 - Hero Section **/
    .header-hero-section{
        padding-top: 45%;
    }

    .header-hero-section-details p{
        font-size: 28px;
        margin-bottom: 0px;
    }

    .header-hero-section-details{
        padding-bottom: 8px;
    }

    /** 5 - Header-Post-Navigation **/
    .header-post-navigation-details{
        display: none;
    }

    .header-post-navigation-mobile{
        display: flex;
        justify-content: flex-end;
        padding: 12px 0;
    }

    .header-post-navigation-mobile .mobile-menu{
        display: flex;
        flex-direction: row;
        font-family: var(--open-sans-font);
        font-weight: 700;
        gap: 5px;
        align-items: center;
        cursor: pointer;
    }

    .header-post-navigation-mobile .mobile-menu svg{
        width: 17px;
        height: 17px;
    }
}
